*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: sans-serif;
  background: #EEE;
}

date-picker {
  position: relative;
}

.date-toggle {
  cursor: pointer;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background: rgb(10, 36, 92);
  text-transform: capitalize;
}

.calendar-dropdown {
  display: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 40vw;
  height: 40vw;
  margin-top: 0.5em;
  padding: 1em;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.calendar-dropdown.top {
  top: auto;
  bottom: 100%;
  transform: translate(-50%, -8px);
}

.calendar-dropdown.left {
  top: 50%;
  left: 0;
  transform: translate(calc(-8px + -100%), -50%);
}

.calendar-dropdown.right {
  top: 50%;
  left: 100%;
  transform: translate(8px, -50%);
}

.calendar-dropdown.visible {
  display: block;
}

.header-group {
  display: flex;
  justify-content: space-between;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h4 {
  margin: 0;
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: bold;
}

.header button {
  padding: 0;
  border: 8px solid white;
  width: 0;
  height: 0;
  border-radius: 2px;
  border-top-color: #222;
  transform: rotate(90deg);
  cursor: pointer;
  position: relative;
}

.header button::after{
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  height: 2em;
}

.header button.next-month {
  transform: rotate(-90deg);
}

.today {
  font-weight: bold;
  color: white;
  background: rgb(10, 36, 92);
  border: none;
  padding: 0.25rem;
  cursor: pointer;
}

.week-days {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.5em;
  margin-top: 1em;
  text-transform: capitalize;
  font-size: 0.8rem;
}

.month-days {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.month-day {
  padding: 8px 5px;
  color: white;
  background: #C7C9D3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  opacity: 1;
}

.month-day.current {
  opacity: 1;
  background: #444857;
}

.month-day.selected {
  background: #28A5A7;
}

.month-day.current:hover {
  background: #374c99;
}
